# Backend
fastapi==0.109.2
uvicorn==0.27.1
python-dotenv==1.0.1
requests==2.31.0

# Geoprocessamento
geopandas==0.14.3
rasterio==1.3.9
shapely==2.0.3
fiona==1.9.6
pyproj==3.6.1

# Geocodificação
geopy==2.4.1

# Validação de dados
pydantic==2.6.4