# Backend
fastapi==0.109.2
uvicorn==0.27.1
python-dotenv==1.0.1
requests==2.31.0

# Geoprocessamento
geopandas==0.14.3
shapely==2.0.3
pyproj==3.6.1
owslib>=0.29.2

# Geocodificação
geopy==2.4.1

# Validação de dados
pydantic==1.10.13