<!DOCTYPE html>
<html>
  <head>
    <title>Áreas Verdes - Jundiaí</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <style>
      #map { height: 500px; width: 80%; margin: 20px auto; }
    </style>
  </head>
  <body>
    <input type="text" id="endereco" placeholder="Digite um endereço em Jundiaí">
    <button onclick="analisar()">Analisar</button>
    <div id="map"></div>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="../static/js/main.js"></script>
  </body>
</html>